<!-- container -->

<div class="container1">
  <div id="chart">
    <h2 >Litri consumati per luna raport</h2>
    <apx-chart
      [series]="chartOptionsLineChart.series"
      [chart]="chartOptionsLineChart.chart"
      [xaxis]="chartOptionsLineChart.xaxis"
      [dataLabels]="chartOptionsLineChart.dataLabels"
      [grid]="chartOptionsLineChart.grid"
      [stroke]="chartOptionsLineChart.stroke"
      [title]="chartOptionsLineChart.title"
    ></apx-chart>
  </div>
</div>

<div class="container"> 

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Data/Ora" #input>
  </mat-form-field>
  <br>
  
  <button mat-button (click)="openDialogAlimentare('Add',{})" mat-flat-button color="primary">Add Row</button>
  
    <table mat-table [dataSource]="dataSourceAlimentare" matSort>
  
      <!-- <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div> -->     
  
      <!-- <-- Checkbox Column - -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selectionAlimentare.hasValue() && isAllSelected()"
                        [indeterminate]="selectionAlimentare.hasValue() && !isAllSelected()"
                        [aria-label]="checkboxLabel()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectionAlimentare.toggle(row) : null"
                        [checked]="selectionAlimentare.isSelected(row)"
                        [aria-label]="checkboxLabel(row)"
                        color="primary"
                        >
          </mat-checkbox>
        </td>
      </ng-container>
  

      <!-- <-- Cnp Column - -->
      <ng-container matColumnDef="dataOra">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Data si Ora </th>
        <td mat-cell *matCellDef="let element"> {{element.dataOra}} </td>
      </ng-container>
  
      <!-- <-- License Date Column - -->
      <ng-container matColumnDef="numarLitrii">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Numar Litrii </th>
        <td mat-cell *matCellDef="let element"> {{element.numarLitrii}} </td>
      </ng-container>
  
      <!-- <-- Name Column - -->
      <ng-container matColumnDef="pretTotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pret Total </th>
        <td mat-cell *matCellDef="let element"> {{element.pretTotal}} </td>
      </ng-container>
  
      <!-- <-- Name Column - -->
      <ng-container matColumnDef="pretUnitar">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pret Unitar </th>
        <td mat-cell *matCellDef="let element"> {{element.pretUnitar}} </td>
      </ng-container>
  
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> View Car </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="showVal(element.id)" mat-dialog-close>View cars</button></td>
      </ng-container>
      
      <!-- Action Column -->
        <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link"> 
          <a (click)="openDialogAlimentare('Update',element)">Edit</a> | 
          <a (click)="openDialogAlimentare('Delete',element)">Delete</a>  
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsIAlimentare"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsIAlimentare;"></tr>
  
      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  
  