<div class="container">
  <button mat-button mat-raised-button color="primary"(click)="onDashBoard()">Masini</button>
  <button mat-button mat-raised-button color="primary"(click)="onUpload()">Soferi</button>
  <button mat-button mat-raised-button color="primary"(click)="onCursa()">Cursa</button>
  <button mat-button mat-raised-button color="primary"(click)="onAlimentari()">Alimentari</button>

  <button mat-button mat-raised-button color="primary" (click)="onLogout()">
    Logout
  </button>
</div>
