<!-- dialog-box.component.html -->
<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>

  <!-- <mat-form-field appearance="fill">
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.numePrenume">
        {{food.numePrenume}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input matInput type="datetime-local" placeholder="{{action}} dataOra" matInput [(ngModel)]="local_data.dataOra">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} numarLitrii" matInput [(ngModel)]="local_data.numarLitrii">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} pretTotal" matInput [(ngModel)]="local_data.pretTotal">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="{{action}} pretUnitar" matInput [(ngModel)]="local_data.pretUnitar">
  </mat-form-field>
  
 

  <ng-template #elseTemplate>
    Sure to delete <b>{{local_data.dataOra}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>